<!--<!DOCTYPE html>-->
<!--<html lang="en" xmlns:th="http://www.thymeleaf.org">-->
<!--<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"-->
<!--      rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"-->
<!--      crossorigin="anonymous">-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"-->
<!--        integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"-->
<!--        integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3"-->
<!--        crossorigin="anonymous"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"-->
<!--        integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz"-->
<!--        crossorigin="anonymous"></script>-->

<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Admin Management System</title>-->
<!--</head>-->
<!--<div class="container">-->
<!--    <h1>Admin Management System</h1>-->
<!--    <hr>-->
<!--    <h2> Save Products</h2>-->
<!--<form th:action="@{/saveProducts}" th:object="{products}" method="POST">-->
<!--    <input type="text" th:field="*{Id}" placeholder="product Id"-->
<!--           class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="{brand}"placeholder="product brand"-->
<!--           class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="{size}" placeholder="product size"-->
<!--           class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="*price}" placeholder="product price"-->
<!--           class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="{stock}" placeholder="product stock"-->
<!--           class="form-control mb-4 col-4">-->
<!--    <input type="text" th:field="{quantity}"placeholder="product quantity"-->
<!--           class="form-control mb-4 col-4">-->
<!--    <button type="submit" class="btn btn-info col-2"> Save Products</button>-->
<!--    </form>-->

<!--</div>-->
<!--<body>-->

<!--</body>-->
<!--</html>-->